{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <div class="container row mt-2 p-2 justify-content-center">
        <div class="col-md-6 mt-2">
            <h4>{% trans 'Resend an activation code' %}</h4>

            <form method="post">

                {% csrf_token %}
                {% bootstrap_form form %}

                <button class="btn btn-primary mt-2 w-100">{% trans 'Next' %}</button>

            </form>

            <hr>

            <ul>
                <li>
                    <a href="{% url 'accounts:log_in' %}">{% trans 'Log in' %}</a>
                </li>
            </ul>
        </div>
    </div>




{% endblock %}
