{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An example of Django project with basic user functionality.">
    <meta name="author" content="Yehor Smoliakov">

    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Resume Screener</title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-expand-md navbar-light bg-light static-top main-navbar shadow">
    <div class="container">
    <a class="navbar-brand" href="/">Resume Scanner</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ms-auto">
            {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resumes:hr_job_postings' %}">{% trans 'Post Job' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resumes:your_jobs' %}">{% trans 'Your Jobs' %}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resumes:upload_resume' %}">{% trans 'Upload Resume' %}</a>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resumes:job_listings' %}">{% trans 'Apply' %}</a>
                    </li>

                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {{ request.user.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'accounts:change_password' %}">Change Password</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'accounts:change_profile' %}">Edit Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:change_email' %}">Email Settings</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:log_out' %}">Logout</a>
                        </li>
                    </ul>
                </li>
                </ul>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:log_in' %}">{% trans 'Log in' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:sign_up' %}">{% trans 'Create an account' %}</a>
                </li>
            {% endif %}
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'change_language' %}">{% trans 'Change language' %}</a>
            </li>
        </ul>
    </div>
    </div>

</nav>

<div class="container-fluid mt-3">

    {% bootstrap_messages %}

    {% block content %}
        No content.
    {% endblock %}

</div>

<script src="{% static 'vendor/jquery/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>

<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

</body>
</html>
